In [7]:
#module -2
a = list("enter any numbers ")

#b = hash((tuple(a))

print(list(a))

['e', 'n', 't', 'e', 'r', ' ', 'a', 'n', 'y', ' ', 'n', 'u', 'm', 'b', 'e', 'r', 's', ' ']

In [16]:
n = int(input())
li = []
for x in input().split():
    li.append(int(x))
t = tuple(li)
print(hash(t))

2
5
-7813438383599366905

In [7]:
list2 = [3, 6, 9, 12, 15, 18, 21]
list1 = [4, 8, 12, 16, 20, 24, 28]

l3 = list1+list2
print(l3)

[4, 8, 12, 16, 20, 24, 28, 3, 6, 9, 12, 15, 18, 21]

In [20]:
n = list(input("enter numbers :")
b=input()
a = tuple(map(int, b.split(' ')))
print(hash(a))

SyntaxError: invalid syntax (<ipython-input-20-32c09441729e>, line 2)

In [2]:
if __name__ == '__main__':
    n = int(input())
    tn = input().split()
    print(hash(tuple(int(i) for i in tn)))

2
3
-5029647727744300836

In [1]:
fname = input("Enter You name :")
print("my name is :", fname)

Enter You name :sri
my name is : sri

In [213]:

sampleList = [11, 45, 8, 23, 14, 12, 78, 45, 89]
print("Original list ", sampleList)

length = len(sampleList)
chunkSize  = int(length/3)
start = 0
end = chunkSize
for i in range(1, 4, 1):
  indexes = slice(start, end, 1)
  listChunk = sampleList[indexes]
  #print("Chunk ", i , listChunk)
  print("After reversing it ", list(reversed(listChunk)))
  #print(list(reversed(listChunk).append(list(reversed(listChunk))))
  #print(list(reversed(listChunk))                                        
  #print("Reverse sorted list :", sorted(listChunk, reverse=True))
  #print((list(reversed(listChunk))) + (list(reversed(listChunk))) + (list(reversed(listChunk))))  
  start = end
  if(i != 2):
    end +=chunkSize
  else:
    end += length - chunkSize 
    

    #print(list1)
#print(list(reversed(listChunk)))

Original list  [11, 45, 8, 23, 14, 12, 78, 45, 89]
After reversing it  [8, 45, 11]
[8, 45, 11, 8, 45, 11, 8, 45, 11]
After reversing it  [12, 14, 23]
[12, 14, 23, 12, 14, 23, 12, 14, 23]
After reversing it  [89, 45, 78]
[89, 45, 78, 89, 45, 78, 89, 45, 78]

In [71]:
sampleList = [11, 45, 8, 23, 14, 12, 78, 45, 89]
newlist = []
length = len(sampleList)
chunksize  = int(length/3)
start = 0
end = chunksize
#for i in range(1, 4, 1):
indexes = slice(start, end, 1)
listchunk = sampleList[indexes]
  #print("Chunk ", i , listChunk)
  #print("After reversing it ", list(reversed(listChunk)))
  #start = end
  #if(i != 2):
   # end +=chunkSize
  #else:
   # end += length - chunkSize 
 
newlist = [[i for i  in list(reversed(listchunk)) 
             if(i != 2) (end =  end + chunksize) else (end = length - chunkSize)] for i in range(1,4,1)]                    
print(newlist)

SyntaxError: invalid syntax (<ipython-input-71-cacb58e6208d>, line 19)

In [46]:
#LIST 
l= [2,3,4,1,2,8,9]
l.append(7)
l

[2, 3, 4, 1, 2, 8, 9, 7]

In [32]:
l.sort()

In [25]:
l

[1, 2, 2, 3, 4, 7, 8, 9]

In [80]:
l[:3]

[1, 2, 2]

In [81]:
l[::-1]

[9, 8, 7, 4, 3, 2, 2, 1]

In [86]:
l[-3:]

[7, 8, 9]

In [87]:
l[0]=10

In [88]:
l

[10, 2, 2, 3, 4, 7, 8, 9]

In [89]:
l[1:3]=[9,1]

In [90]:
l

[10, 9, 1, 3, 4, 7, 8, 9]

In [91]:
len(l)

8

In [92]:
t=(3,4,1,4)

In [93]:
t

(3, 4, 1, 4)

In [94]:
t.append(8)

AttributeError: 'tuple' object has no attribute 'append'

In [95]:
t[0]

3

In [96]:
rollNumber  = [47, 64, 69, 37, 76, 83, 95, 97]
sampleDict  ={'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97} 

print("List -", rollNumber)
print("Dictionary - ", sampleDict)

rollNumber[:] = [item for item in rollNumber if item in sampleDict.values()]
print("after removing unwanted elemnts from list ", rollNumber)

List - [47, 64, 69, 37, 76, 83, 95, 97]
Dictionary -  {'Jhon': 47, 'Emma': 69, 'Kelly': 76, 'Jason': 97}
after removing unwanted elemnts from list  [47, 69, 76, 97]

In [100]:
rollnumber  = [47, 64, 69, 37, 76, 83, 95, 97]
sampleDict  ={'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97} 

rollnumber[:]= [item for item in rollnumber 
                if item in sampleDict.values()]
print(rollnumber)

[47, 69, 76, 97]

In [108]:
print('This is tuple : (100, 200, 300)')

This is tuple : (100, 200, 300)

In [122]:
t = ('satish',)
print(type(t))
print('This is Tuple :' ,t)
#converting to string
st = ('satish')
#print('Tuple is converted to string')
print('This is string : ',st)
print(type(st))

<class 'tuple'>
This is Tuple : ('satish',)
This is string :  satish
<class 'str'>

In [124]:
l1=['aa','ddd','xxx']
l1.append('eee')
l1

['aa', 'ddd', 'xxx', 'eee']

In [125]:
l1.insert(2,'ooo')

In [126]:
l1

['aa', 'ddd', 'ooo', 'xxx', 'eee']

In [127]:
l1.remove('ddd')

In [128]:
l1

['aa', 'ooo', 'xxx', 'eee']

In [134]:
l2 =['qwq','dfr','ere']
l1.append(l2)
print(l1)

['aa', 'ooo', 'xxx', 'eee', ['qwq', 'dfr', 'ere'], ['qwq', 'dfr', 'ere'], ['qwq', 'dfr', 'ere'], ['qwq', 'dfr', 'ere'], ['qwq', 'dfr', 'ere']]

In [137]:
l1.extend(l2) # will join the list
print(l1)

['aa', 'ooo', 'xxx', 'eee', ['qwq', 'dfr', 'ere'], ['qwq', 'dfr', 'ere'], ['qwq', 'dfr', 'ere'], ['qwq', 'dfr', 'ere'], ['qwq', 'dfr', 'ere'], 'qwq', 'dfr', 'ere', 'qwq', 'dfr', 'ere', 'qwq', 'dfr', 'ere']

In [139]:
del l1[1] #del to remove item based on index position

In [141]:
print(l1)

['aa', 'xxx', 'eee', ['qwq', 'dfr', 'ere'], ['qwq', 'dfr', 'ere'], ['qwq', 'dfr', 'ere'], ['qwq', 'dfr', 'ere'], ['qwq', 'dfr', 'ere'], 'qwq', 'dfr', 'ere', 'qwq', 'dfr', 'ere', 'qwq', 'dfr', 'ere']

In [142]:
l4 = l1.pop(1)we can use pop() method

In [143]:
print(l4)

xxx

In [145]:
print(l1)

['aa', 'eee', ['qwq', 'dfr', 'ere'], ['qwq', 'dfr', 'ere'], ['qwq', 'dfr', 'ere'], ['qwq', 'dfr', 'ere'], ['qwq', 'dfr', 'ere'], 'qwq', 'dfr', 'ere', 'qwq', 'dfr', 'ere', 'qwq', 'dfr', 'ere']

In [147]:
l1.remove('aa')#remove an item from list
print(l1)

['eee', ['qwq', 'dfr', 'ere'], ['qwq', 'dfr', 'ere'], ['qwq', 'dfr', 'ere'], ['qwq', 'dfr', 'ere'], ['qwq', 'dfr', 'ere'], 'qwq', 'dfr', 'ere', 'qwq', 'dfr', 'ere', 'qwq', 'dfr', 'ere']

In [148]:
#keyword 'in' is used to test if an item is in a list

a1 = ['aa','dd','ttt']

if 'aa' in a1:
    print('yes')

yes

In [149]:
if 'ee' not in a1:
    print('no')

no

In [150]:
a1.reverse()
print(a1)

['ttt', 'dd', 'aa']

In [151]:
num= [2,5,1,8,5,2,9]
num1 = sorted(num)
print(num1)

[1, 2, 2, 5, 5, 8, 9]

In [154]:
print('reverse order : ', sorted(num, reverse = True))

reverse order :  [9, 8, 5, 5, 2, 2, 1]

n1= num
n1.append(1)
print(n1)

In [157]:
n1=num
n1.append(11)
print(n1)

[2, 5, 1, 8, 5, 2, 9, 1, 11]

In [158]:
print(num)

[2, 5, 1, 8, 5, 2, 9, 1, 11]

In [161]:
j = "abc,dcf,ref,gtf"
a =j.split(',')
print(a)

['abc', 'dcf', 'ref', 'gtf']

In [162]:
q= "This is good day"
w= q.split()
print(w)

['This', 'is', 'good', 'day']

In [163]:
print(num)

[2, 5, 1, 8, 5, 2, 9, 1, 11]

In [165]:
print(num[::2])

[2, 1, 5, 9, 11]

In [171]:
num2 = [3,4,1,2,8,6,5,7,9]
print(num2[1::2])

[4, 2, 6, 7]

In [228]:
num1 = [2,3,5,6,1,8,9,1]
num2 = [3,4,1,2,8,6,5,7]

n = len(num1)
m = len(num2)
#for i in num1:
print((num1[::2]) + (num2[1::2]))

#r = zip(num1, num2)

8
[2, 5, 1, 9, 4, 2, 6, 7]

In [224]:
firstList = [2, 3, 4, 5, 6, 7, 8]
print("First List ", firstList)

secondList = [4, 9, 16, 25, 36, 49, 64]
print("Second List ", secondList)

result = zip(firstList, secondList)
print(result)
resultSet = set(result)
print(resultSet)

First List  [2, 3, 4, 5, 6, 7, 8]
Second List  [4, 9, 16, 25, 36, 49, 64]
<zip object at 0x7f8a4f4e7480>
{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

In [4]:
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]
listThree = []

oddElements = listOne[1::2]
print("Element at odd-index positions from list one")
print(oddElements)

EvenElement = listTwo[0::2]
print("Element at even-index positions from list two")
print(EvenElement)

print("Printing Final third list")
listThree.extend(oddElements)
print(listThree)
listThree.extend(EvenElement)
print(listThree)

Element at odd-index positions from list one
[6, 12, 18]
Element at even-index positions from list two
[4, 12, 20, 28]
Printing Final third list
[6, 12, 18]
[6, 12, 18, 4, 12, 20, 28]

In [245]:
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]
listThree = list()

oddElements = listOne[1::2]
print("Element at odd-index positions from list one")
print(oddElements)

oddElements = listOne[1::2]
print("Element at even-index positions from list two")
print(EvenElement)

print("Printing Final third list")
listThree.extend(oddElements)
listThree.extend(EvenElement)
print(listThree)

Element at odd-index positions from list one
[6, 12, 18]
Element at even-index positions from list two
[4, 12, 20, 28]
Printing Final third list
[6, 12, 18, 4, 12, 20, 28]

In [1]:
#squares without list comprehension

seq=[]

for i in range(10):
    seq.append(i**2)
print(seq)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#witn list comprehension

seq = [i**2 for i in range(10)]
print(seq)

In [5]:
#double the numbers
lst = [-10, -20, 10, 20, 50]
llst=lst
#for i in lst:
 #   lst.append(i*2)
   #  llst.append(1*2)
#print(llst)

new_lst = [i*2 for i in lst]
print(new_lst)

[-20, -40, 20, 40, 100]

In [3]:
#create a list of tuples like (number, square_of_number)
nu = [(i,i**2) for i in range(10)]
print(nu)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [3]:

#to exclude negative numbers
lst = [-10, -20, 10, 20, 50]
num = [i for  i in lst if i >= 0]
print(num)

[10, 20, 50]

In [14]:
#Transposed matrix

matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

row = []
transposed = []
transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [20]:
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]
listThree = []
#oddElements = listOne[1::2]
#oddElements = listOne[1::2]

listThree = [[ i for i in listOne[1::2] ]for i in listTwo[0::2]]
print(listThree)

[[6, 12, 18], [6, 12, 18], [6, 12, 18], [6, 12, 18]]

In [1]:
#let's suppose we have a matrix

matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

#transpose of a matrix without list comprehension
transposed = []
for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)

print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [2]:
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]
listThree = list()

In [3]:
#tuple

t = (1,2,3,1)
print(t)

(1, 2, 3, 1)

In [4]:
t.append(8)
print(t)

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
t=('aaaa')
type(t)

str

In [7]:
t=('aaa',)
type(t)

tuple

In [8]:
t="aaa"
type(t)

str

In [9]:
t="aaa",
type(t)

tuple

In [10]:
print(type(t))

<class 'tuple'>

In [11]:
print(t)

('aaa',)

In [14]:
t=(1,2,[3,4])
t[2][1] = 9
print(t)

(1, 2, [3, 9])

In [15]:
del t

In [16]:
print(t)

NameError: name 't' is not defined

In [22]:
print(bool(0))

False

In [25]:
t=(6,5,1,3,9,2)
nt = sorted(t)
print(sorted(t))

[1, 2, 3, 5, 6, 9]

In [27]:
print(t)

(6, 5, 1, 3, 9, 2)

In [28]:
print(sum(t))

26

In [29]:
print(max(t))

9

In [30]:
print(min(t))

1

In [38]:
#dictionaries
dic = {'name':'aaa','cl':'8th','st':'qwe'}
print(dic['cl'])

8th

In [39]:
dic = {'code':'121'}
print(dic['code'])

121

In [40]:
dic2 = dic.copy()
print(dic2)

{'code': '121'}

In [41]:
print(dic)

{'code': '121'}

In [42]:
dic['pin']=00
print(dic)

{'code': '121', 'pin': 0}

In [43]:
d1 = dic.copy()
print(d1)

{'code': '121', 'pin': 0}

In [44]:
subjects  = {}.fromkeys(['math','eng','art'],0)
print(subjects)

{'math': 0, 'eng': 0, 'art': 0}

In [46]:
subject ={2:4,3:5,6:5}
print(subject.keys())

dict_keys([2, 3, 6])

In [47]:
print(subject.items())

dict_items([(2, 4), (3, 5), (6, 5)])

In [49]:
print(subject.values())

dict_values([4, 5, 5])

In [52]:
d ={}
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [56]:
#Dict comprehensions are just like list comprehensions but for dictionaries

d = {'a': 1, 'b': 2, 'c': 3}
for pair in d.items():
    print(pair)

('a', 1)
('b', 2)
('c', 3)

In [57]:
#Creating a new dictionary with only pairs where the value is larger than 2
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
new_dict = {k:v for k, v in d.items() if v > 2}
print(new_dict)

{'c': 3, 'd': 4}

In [58]:
#We can also perform operations on the key value pairs
d = {'a':1,'b':2,'c':3,'d':4,'e':5}
d = {k + 'c':v * 2 for k, v in d.items() if v > 2}
print(d)

{'cc': 6, 'dc': 8, 'ec': 10}

In [1]:
#set
s={1,3,4,5}
print(s)
type(s)

{1, 3, 4, 5}

set

In [4]:
s= set()
type(s)

set

In [12]:
s={1,3,4,5}
s.add(7)
print(s)

{1, 3, 4, 5, 7}

In [13]:
s.add(7)
print(s)

{1, 3, 4, 5, 7}

In [23]:
s.update([8,3,1,9],{8,5,6,3})
print(s)

{1, 3, 4, 5, 6, 7, 8, 9}

In [19]:
print(s)

{1, 3, 4, 5, 7}

In [24]:
s.pop()

1

In [25]:
s.remove(3)

In [26]:
print(s)

{4, 5, 6, 7, 8, 9}

In [27]:
s.discard(5)

In [28]:
print(s)

{4, 6, 7, 8, 9}

In [29]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7}

In [30]:
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}

In [31]:
print(set1 & set2)

{3, 4, 5}

In [32]:
print(set1.intersection(set2))

{3, 4, 5}

In [33]:
print(set1 -set2)

{1, 2}

print(set2-set1)

In [35]:
print(set1 ^ set2)

{1, 2, 6, 7}

In [36]:
print(set1.symmetric_difference(set2))

{1, 2, 6, 7}

In [37]:
#find issubset()
x = {"a","b","c","d","e"}
y = {"c","d"}

print("set 'x' is subset of 'y' ?", x.issubset(y)) #check x is subset of y

#check y is subset of x
print("set 'y' is subset of 'x' ?", y.issubset(x))

set 'x' is subset of 'y' ? False
set 'y' is subset of 'x' ? True

In [ ]:
Frozen Sets
Frozen sets has the characteristics of sets, but we can't be changed once it's assigned. While tuple are immutable lists, frozen sets are immutable sets

Frozensets can be created using the function frozenset()

Sets being mutable are unhashable, so they can't be used as dictionary keys. On the other hand, frozensets are hashable and can be used as keys to a dictionary.

This datatype supports methods like copy(), difference(), intersection(), isdisjoint(), issubset(), issuperset(), symmetric_difference() and union(). Being immutable it does not have method that add or remove elements.

In [38]:
set1 = frozenset([1, 2, 3, 4])
set2 = frozenset([3, 4, 5, 6])
print(set1 |set2)

frozenset({1, 2, 3, 4, 5, 6})

In [39]:
print(set1 ^set2)

frozenset({1, 2, 5, 6})

In [40]:
a = [1, 2, 3]

print(type(a))      #type of a is list 

s = set(a)          #convert list to set using set() method

print(type(s))      #now type of s is set

<class 'list'>
<class 'set'>